<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
</head>
<body>
    <form role="form" method="post">
        主队：<input type="text" id="host" name = "host"> <br>
        客队：<input type="text" id = "guest" name = "guest"> <br>
    </form>
    <button id="btn">确定</button>
    <script src="data.js"></script>
    <div id="div_temp_items" style="display: none;">
        <div class="content">
            <div id="left">{name}: </div>
            <div id="right">{time}</div>
        </div>
    </div>

</body>
</html>